Resources/Settings/Mechanics.ini
Resources/Data/MechanicsActive.ini
Resources/Settings/AutoMechanics.ini
Resources/Settings/Hotkeys.ini
Resources/Settings/Theme.ini
Resources/Settings/CurrentHideout.txt
Resources/Settings/overlayposition.txt
Resources/Data/FirstRun.ini
Resources/Data/LaunchPath.ini
Resources/Settings/notification.ini
