Resources/Settings/Mechanics.ini
Resources/Data/MechanicsActive.ini
Resources/Settings/AutoMechanics.ini
Resources/Settings/Hideout.ini
Resources/Settings/Hotkeys.ini
Resources/Settings/Theme.ini
Resources/Settings/CurrentHideout.txt
Resources/Settings/OverlayPosition.ini
Resources/Data/FirstRun.ini
Resources/Data/LaunchPath.ini
Resources/Settings/Notification.ini
Resources/Settings/OverlayPosition.ini
Resources/Settings/Transparency.ini
Resources/Data/ToolLauncher.ini
Resources/Scripts/MapReader.ahk
Resources/Settings/OverlayPosition.ini
Resources/Data/Variable.ini
Resources/Settings/Hideout.ini
Resources/Data/LogMonitor.ini
Resources/Scripts/IconTest.jpg
Resources/Scripts/IconTest.png
Resources/Scripts/test.ini
Resources/Scripts/ImageSearch.ahk
Resources/Settings/StorageLocation.ini
Resources/Settings/Misc.Ini
Resources/Scripts/ScreenCap.ahk
Resources/Data/ScreenSearch.ini
Resources/Images/Image Search/Eldritch/Custom/
Resources/Images/Image Search/Custom/
Resources/Images/Image Search/Custom/MetamorphAssem.png
Resources/Images/Image Search/Custom/MetamorphIcon.png
Resources/Images/Image Search/Eldritch/Custom/eateron.png
Resources/Images/Image Search/Eldritch/Custom/searing0.png
Resources/Images/Image Search/Eldritch/Custom/eater2.png
Resources/Images/Image Search/Eldritch/Custom/eater3.png
Resources/Images/Image Search/Eldritch/Custom/eater4.png
Resources/Images/Image Search/Eldritch/Custom/eater5.png
Resources/Images/Image Search/Eldritch/Custom/eater6.png
Resources/Images/Image Search/Eldritch/Custom/eater7.png
Resources/Images/Image Search/Eldritch/Custom/eater8.png
Resources/Images/Image Search/Eldritch/Custom/eater9.png
Resources/Images/Image Search/Eldritch/Custom/eater10.png
Resources/Images/Image Search/Eldritch/Custom/eater11.png
Resources/Images/Image Search/Eldritch/Custom/eater12.png
Resources/Images/Image Search/Eldritch/Custom/eater13.png
Resources/Images/Image Search/Eldritch/Custom/eater14.png
Resources/Images/Image Search/Eldritch/Custom/eater15.png
Resources/Images/Image Search/Eldritch/Custom/eater16.png
Resources/Images/Image Search/Eldritch/Custom/eater17.png
Resources/Images/Image Search/Eldritch/Custom/eater18.png
Resources/Images/Image Search/Eldritch/Custom/eater19.png
Resources/Images/Image Search/Eldritch/Custom/eater20.png
Resources/Images/Image Search/Eldritch/Custom/eater21.png
Resources/Images/Image Search/Eldritch/Custom/eater22.png
Resources/Images/Image Search/Eldritch/Custom/eater23.png
Resources/Images/Image Search/Eldritch/Custom/eater24.png
Resources/Images/Image Search/Eldritch/Custom/eater25.png
Resources/Images/Image Search/Eldritch/Custom/eater26.png
Resources/Images/Image Search/Eldritch/Custom/eater27.png
Resources/Images/Image Search/Eldritch/Custom/maven0.png
Resources/Images/Image Search/Eldritch/Custom/maven1.png
Resources/Images/Image Search/Eldritch/Custom/maven2.png
Resources/Images/Image Search/Eldritch/Custom/maven3.png
Resources/Images/Image Search/Eldritch/Custom/maven4.png
Resources/Images/Image Search/Eldritch/Custom/maven5.png
Resources/Images/Image Search/Eldritch/Custom/maven6.png
Resources/Images/Image Search/Eldritch/Custom/maven7.png
Resources/Images/Image Search/Eldritch/Custom/maven8.png
Resources/Images/Image Search/Eldritch/Custom/maven9.png
Resources/Images/Image Search/Eldritch/Custom/maven10.png
Resources/Images/Image Search/Eldritch/Custom/mavenon.png
Resources/Images/Image Search/Eldritch/Custom/searing1.png
Resources/Images/Image Search/Eldritch/Custom/searing2.png
Resources/Images/Image Search/Eldritch/Custom/searing3.png
Resources/Images/Image Search/Eldritch/Custom/searing4.png
Resources/Images/Image Search/Eldritch/Custom/searing5.png
Resources/Images/Image Search/Eldritch/Custom/searing6.png
Resources/Images/Image Search/Eldritch/Custom/searing7.png
Resources/Images/Image Search/Eldritch/Custom/searing8.png
Resources/Images/Image Search/Eldritch/Custom/searing9.png
Resources/Images/Image Search/Eldritch/Custom/searing10.png
Resources/Images/Image Search/Eldritch/Custom/searing11.png
Resources/Images/Image Search/Eldritch/Custom/searing12.png
Resources/Images/Image Search/Eldritch/Custom/searing14.png
Resources/Images/Image Search/Eldritch/Custom/searing15.png
Resources/Images/Image Search/Eldritch/Custom/searing16.png
Resources/Images/Image Search/Eldritch/Custom/searing17.png
Resources/Images/Image Search/Eldritch/Custom/searing18.png
Resources/Images/Image Search/Eldritch/Custom/searing19.png
Resources/Images/Image Search/Eldritch/Custom/searing20.png
Resources/Images/Image Search/Eldritch/Custom/searing21.png
Resources/Images/Image Search/Eldritch/Custom/searing22.png
Resources/Images/Image Search/Eldritch/Custom/searing23.png
Resources/Images/Image Search/Eldritch/Custom/searing24.png
Resources/Images/Image Search/Eldritch/Custom/searing25.png
Resources/Images/Image Search/Eldritch/Custom/searing26.png
Resources/Images/Image Search/Eldritch/Custom/searing27.png
Resources/Images/Image Search/Eldritch/Custom/searingon.png
Resources/Scripts/Mechanics.ini
Resources/Scripts/hideout.ini
Resources/Data/Maven.ini
Resources/Settings/~syncthing~Misc.ini.tmp
