Resources/Settings/Mechanics.ini
Resources/Data/MechanicsActive.ini
Resources/Settings/AutoMechanics.ini
Resources/Settings/Hotkeys.ini
Resources/Settings/Theme.ini
Resources/Settings/CurrentHideout.txt
Resources/Settings/OverlayPosition.ini
Resources/Data/FirstRun.ini
Resources/Data/LaunchPath.ini
Resources/Settings/notification.ini
Resources/Settings/Transparency.ini
Resources/Data/ToolLauncher.ini
Resources/Scripts/MapReader.ahk
Resources/Data/Variable.ini
